@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

/* Colour Scheme Variables */

:root {
    --clr-navigation-bar: #3d5a80;
    --clr-navigation-btn: #edf2f4;
    --clr-background: #c2d0e9;
    --clr-about-background: #4ecdc4;
    --clr-projects-background: #e0fbfc;
    --clr-skills-background: #ff6b6b;
    --clr-border: #8d99ae;
    --clr-button: #2b2d42;
    --clr-button-hover: #5a5d76;
    --clr-hover: #98c1d9;
    --clr-footer: #293241;
}


/* General styles for web page */

body {
    font-family: "Oxygen", sans-serif;
    background: var(--clr-background);
}

.heading h1 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    padding: 15px 35px;
    border-bottom: 3px solid var(--clr-border);
    letter-spacing: 2px;
    font-weight: 700 !important;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.border-top {
    border-top: 1px solid black !important;
}


/* Navigation Styles */

.navbar {
    padding: 1.5rem 0.3rem;
    box-shadow: 0px 0 10px 5px;
    letter-spacing: 0.2rem;
    font-weight: 700;
}

.navbar-collapse {
    flex-grow: unset;
}

.nav-background {
    background: var(--clr-navigation-bar);
}

.nav-border-right {
    padding: unset;
    border: unset;
}

.container-fluid {
    gap: 1rem;
}

.navbar-brand {
    margin-right: unset;
}

.navbar-nav {
    padding-top: 1rem;
    gap: 1rem;
}

.nav-item {
    text-align: center;
}

.nav-link:hover {
    color: var(--clr-hover) !important;
}


/* Main Section Styles */

.container {
    margin-bottom: 1rem;
}

.about-title {
    margin-bottom: 1rem;
}

.about-text {
    display: flex;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.main-project {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.main-project-card {
    border: 2px solid var(--clr-border);
    position: relative;
    width: 700px;
    height: auto;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px 5px rgb(119, 119, 119);
}

.project-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
    margin-bottom: 1rem;
}

.project-card {
    border: 1px solid var(--clr-border);
    position: relative;
    width: 500px;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px 5px rgb(119, 119, 119);
}

.project-img {
    z-index: -1;
    width: 100%;
    opacity: 0.6;
    border-radius: 0.5rem;
    border-bottom: 1px solid black;
}

.project-img:hover {
    opacity: 1;
    transition: all 200ms ease-in;
}

.project-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: 250px;
    padding: 1rem;
    text-align: left;
    border-radius: 0.5rem;
    background-color: var(--clr-background);
}

.project-card-title,
.project-card-text {
    margin-bottom: 1rem;
}

.card-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.button {
    color: white;
    background-color: var(--clr-button);
    padding: 10px;
    border-radius: 5px;
}

.button:hover {
    color: white;
    background-color: var(--clr-button-hover);
}


/* Footer Section Styles */

.footer-container {
    padding: 0 15px;
    background-color: var(--clr-footer);
    text-align: center;
}

.footer-container::before,
.footer-container::after {
    content: "";
    display: table;
    clear: both;
}

.footer-container p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: bold;
}

.footer-container a {
    text-decoration: none;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.icon {
    opacity: 0.7;
    width: 2rem;
}

.icon:hover {
    opacity: 1;
}

@media all and (min-width: 991px) {
    .border-top {
        border-top: unset !important;
    }
    /* Navigation Bar Styling */
    .container-fluid {
        gap: 0.5rem;
    }
    .nav-border-right {
        padding-right: 1rem;
        border-right: 1px solid black;
    }
    .navbar-nav {
        padding: unset;
    }
}